* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 0rem 1.25rem;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.link {
  max-width: 180px;
  display: inline-block;
  background: linear-gradient(to right, #FCB72B 0%, #cfbdc8 51%, #FCB72B 100%);
  background-size: 200% auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  transition: all 0.8s ease;
  padding: 14px 39px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 10px 10px 25px 5px rgba(53, 70, 83, 0.25);
}

.link:hover {
  background-position: right center;
}

body {
  font-family: "Space Mono", monospace;
}

p {
  font-family: "Lexend Deca", sans-serif;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.header__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 58px;
  column-gap: 58px;
  padding: 22px;
}
@media screen and (max-width: 700px) {
  .header__head {
    -moz-column-gap: 35px;
    column-gap: 35px;
  }
}

.header__remove-btn {
  display: none;
}
@media screen and (max-width: 576px) {
  .header__remove-btn {
    display: block;
    position: absolute;
    top: 20px;
    left: 25px;
  }
}

.bar {
  color: #FCB72B;
  display: none;
}
@media screen and (max-width: 576px) {
  .bar {
    display: block;
  }
}

.header__checkbox {
  display: none;
}

.header__checkbox:checked ~ .header__navigation {
  transform: translateX(0);
}

@media screen and (max-width: 576px) {
  .header__logo {
    margin: 0 auto;
  }
}

.header__navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .header__navigation {
    position: fixed;
    background-color: #333A44;
    width: 256px;
    height: 100vh;
    left: 0;
    z-index: 10;
    top: 76.39px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    transition: all 0.8s ease;
    transform: translateX(-200%);
  }
}

.header__nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 32px;
  column-gap: 32px;
}
@media screen and (max-width: 700px) {
  .header__nav-items {
    -moz-column-gap: 15px;
    column-gap: 15px;
  }
}
@media screen and (max-width: 576px) {
  .header__nav-items {
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }
}

.header__nav-items .active .header__link {
  color: #FCB72B;
}

.header__link {
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  transition: all 0.8s ease;
}

.header__link:hover {
  color: #FCB72B;
}

@media screen and (max-width: 700px) {
  .header__button {
    padding: 10px 15px;
  }
}

.intro {
  background-image: url(./images/bg-image-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 72px 0;
}

.intro__title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.15625rem;
  color: #FFFFFF;
  font-size: 2.5rem;
  line-height: 2.5rem;
}
@media screen and (max-width: 768px) {
  .intro__title {
    margin-left: 70px;
  }
}
@media screen and (max-width: 576px) {
  .intro__title {
    text-align: center;
    margin-left: 0;
  }
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.example {
  padding-top: 12.5rem;
}

.example__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .example__head {
    flex-direction: column-reverse;
  }
}

.example__head-info {
  max-width: 27.8125rem;
}
@media screen and (max-width: 768px) {
  .example__head-info {
    max-width: 35.8125rem;
    text-align: center;
  }
}

.example__info-title {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.13392875rem;
  color: #495567;
  margin-bottom: 1.5rem;
}
@media screen and (max-width: 576px) {
  .example__info-title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.example__info-desc {
  font-weight: 25rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #939CAA;
  margin-bottom: 2.5rem;
}

.example__head-image {
  overflow: hidden;
  max-width: 46.6875rem;
}
@media screen and (max-width: 768px) {
  .example__head-image {
    max-width: 19.4375rem;
  }
}

.example__head-image img {
  width: 100%;
  border-radius: 50%;
  transition: all 0.8s ease;
}

.example__head-image:hover img {
  transform: scale(1.06, 1.06);
  cursor: pointer;
}

.example__image {
  position: absolute;
  right: 0;
}

.box-1 {
  flex-direction: row-reverse;
  padding-top: 9.375rem;
}
@media screen and (max-width: 768px) {
  .box-1 {
    flex-direction: column-reverse;
  }
}

.example__image2 {
  position: absolute;
  left: -1.25rem;
}

.box-2 {
  padding-top: 9.375rem;
}
@media screen and (max-width: 768px) {
  .box-2 {
    flex-direction: column-reverse;
  }
}

.value {
  padding-top: 3.125rem;
}

.value__title {
  font-weight: 700;
  font-size: 3rem;
  max-width: 540px;
  margin: 0 auto;
  line-height: 3rem;
  text-align: center;
  letter-spacing: -0.13392875rem;
  color: #495567;
  margin-bottom: 50px;
}
@media screen and (max-width: 576px) {
  .value__title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.value__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .value__cards {
    flex-direction: column;
    row-gap: 50px;
  }
}

.value__card-image {
  position: relative;
  max-width: 21.875rem;
  margin: 0 auto;
  margin-bottom: 80px;
  transition: all 0.8s ease;
}

.value__card-image img {
  width: 100%;
}

.value__card-image:hover {
  transform: scale(1.06, 1.06);
  cursor: pointer;
}

.value__card-number {
  position: absolute;
  left: 120px;
  top: 280px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 34px;
  letter-spacing: -1.07143px;
  color: #495567;
  background-color: #FCB72B;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  transition: all 0.8s ease;
}

.value__card-number:hover {
  transform: rotate(360deg);
}

.value__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 27px;
}

.value__card-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #939CAA;
  max-width: 350px;
}
@media screen and (max-width: 768px) {
  .value__card-desc {
    max-width: 447px;
  }
}
@media screen and (max-width: 576px) {
  .value__card-desc {
    max-width: 311px;
  }
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.footer {
  margin-top: 6.25rem;
  background: #495567;
  overflow: hidden;
  position: relative;
  padding: 7.5rem 0rem;
}

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__info {
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
  }
}

.footer__info-title {
  max-width: 25.9375rem;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.13392875rem;
  color: #FFFFFF;
  transition: all 0.8s ease;
}
@media screen and (max-width: 576px) {
  .footer__info-title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.footer__info-title:hover {
  transform: scale(1.06, 1.06);
  cursor: pointer;
}

.footer__head-buttons {
  display: flex;
  -moz-column-gap: 18px;
  column-gap: 18px;
}

.footer__button {
  background: #E5ECF4;
  border-radius: 0.25rem;
  padding: 0.5625rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.8s ease;
}

.footer__button:hover {
  transform: scale(1.06, 1.06);
}

.footer__button-title {
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 0.9375rem;
  letter-spacing: -0.0279018125rem;
  color: #495567;
}

.span {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  letter-spacing: -0.0558035625rem;
  color: #495567;
  display: block;
}

.circle-1 {
  position: absolute;
  bottom: -200px;
  left: 660px;
  display: inline-block;
  width: 21.6875rem;
  height: 21.6875rem;
  opacity: 0.1;
  border-radius: 50%;
  border: 0.9375rem solid #E5ECF4;
}
@media screen and (max-width: 768px) {
  .circle-1 {
    bottom: -200px;
    left: -150px;
  }
}

.circle-2 {
  position: absolute;
  bottom: -200px;
  left: 1000px;
  display: inline-block;
  width: 21.6875rem;
  height: 21.6875rem;
  opacity: 0.1;
  border-radius: 50%;
  border: 0.9375rem solid #E5ECF4;
}
@media screen and (max-width: 768px) {
  .circle-2 {
    bottom: -200px;
    left: 200px;
  }
}
@media screen and (max-width: 576px) {
  .circle-2 {
    display: none;
  }
}

.circle-3 {
  position: absolute;
  bottom: -200px;
  right: -200px;
  display: inline-block;
  width: 21.6875rem;
  height: 21.6875rem;
  opacity: 0.1;
  border-radius: 50%;
  background: #E5ECF4;
}

.bottom {
  background-color: #333A44;
  padding: 2rem 0rem;
}

.bottom__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 58px;
  column-gap: 58px;
}
@media screen and (max-width: 576px) {
  .bottom__head {
    flex-direction: column;
    row-gap: 41px;
  }
}

.bottom__navigation {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  .bottom__navigation {
    flex-direction: column;
    row-gap: 85px;
  }
}

.bottom__nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 32px;
  column-gap: 32px;
}
@media screen and (max-width: 576px) {
  .bottom__nav-items {
    flex-direction: column;
    row-gap: 16px;
  }
}

.bottom__nav-items .active .bottom__link {
  color: #FCB72B;
}

.bottom__logo {
  transition: all 0.8s ease;
}

.bottom__logo:hover {
  transform: scale(1.06, 1.06);
}

.bottom__link {
  font-weight: 700;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #939CAA;
  transition: all 0.8s ease;
}

.bottom__link:hover {
  color: #FCB72B;
}

.bottom__socials {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 24px;
  column-gap: 24px;
}

.bottom__social {
  color: #FCB72B;
  transition: all 0.8s ease;
}

.bottom__social:hover {
  color: #FFFFFF;
  transform: rotate(360deg);
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.main {
  background-image: url(./images/bg-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 153px 0 153px 165px;
}
@media screen and (max-width: 768px) {
  .main {
    padding: 129px 98px 217px 98px;
  }
}
@media screen and (max-width: 576px) {
  .main {
    padding: 115px 32px 179px 32px;
  }
}

.main__head {
  max-width: 31.25rem;
  position: relative;
}
@media screen and (max-width: 768px) {
  .main__head {
    max-width: 35.8125rem;
    text-align: center;
  }
}
@media screen and (max-width: 576px) {
  .main__head {
    max-width: 19.4375rem;
    margin: 0 auto;
  }
}

.main__head-title {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 3.5rem;
  letter-spacing: -0.15625rem;
  color: #FFFFFF;
  transition: all 0.8s ease;
}

.main__head-title:hover {
  transform: scale(1.06, 1.06);
  cursor: pointer;
}

.main__head-desc {
  font-weight: 25rem;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #FFFFFF;
  margin-bottom: 2.5rem;
}

.main__path {
  width: 27.89875rem;
  height: 6.210625rem;
  position: absolute;
  right: 18rem;
  bottom: 10px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .main__path {
    left: -9.375rem;
    top: 31.25rem;
  }
}
@media screen and (max-width: 576px) {
  .main__path {
    left: -18.75rem;
    top: 43.75rem;
  }
}

.main__path img {
  transition: all 0.8s ease;
}

.main__path:hover img {
  transform: scale(1.06, 1.06);
  cursor: pointer;
}

.main__path img {
  width: 100%;
  height: 100%;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.steps {
  padding-top: 6.25rem;
}

.steps__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .steps__cards {
    flex-direction: column;
    row-gap: 2.5rem;
  }
}

@media screen and (max-width: 768px) {
  .steps__card {
    display: flex;
    -moz-column-gap: 4.9375rem;
    column-gap: 4.9375rem;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .steps__card {
    flex-direction: column;
  }
}

.steps__card-image {
  background-color: #FCB72B;
  width: 6rem;
  height: 6rem;
  padding: 2rem 1.625rem;
  border-radius: 50%;
  margin-bottom: 2.5rem;
  transition: all 0.8s ease;
}

.steps__card-image:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.steps__card-info {
  max-width: 350px;
}
@media screen and (max-width: 576px) {
  .steps__card-info {
    max-width: 311px;
    text-align: center;
  }
}

.steps__card-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -0.066964375rem;
  color: #495567;
  margin-bottom: 1.6875rem;
}

.steps__card-desc {
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: #939CAA;
}

.questions {
  padding-top: 100px;
}

.questions__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}
@media screen and (max-width: 576px) {
  .questions__title {
    font-size: 32px;
    line-height: 32px;
  }
}

.questions__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 64px;
}
@media screen and (max-width: 768px) {
  .questions__head {
    flex-direction: column;
    align-items: center;
  }
}

.questions__head-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
}
@media screen and (max-width: 576px) {
  .questions__head-title {
    font-size: 24px;
    line-height: 28px;
  }
}

.questions__type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 40px;
  background-color: #F2F5F9;
  margin-bottom: 16px;
  transition: all 0.8s ease;
}

.questions__type:hover {
  transform: scale(1.06, 1.06);
  cursor: pointer;
}

.questions__info-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  max-width: 356px;
  margin-bottom: 24px;
}
@media screen and (max-width: 576px) {
  .questions__info-title {
    font-size: 18px;
    line-height: 24px;
  }
}

.questions__info-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  max-width: 650px;
  color: #495567;
}

.button {
  transition: all 0.8s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.06, 1.06);
}

.positions {
  padding-top: 100px;
}

.positions__type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  background-color: #F2F5F9;
  padding: 32px 40px;
  max-width: 1110px;
}
@media screen and (max-width: 576px) {
  .positions__type {
    flex-direction: column;
    row-gap: 24px;
  }
}

.positions__type-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}
@media screen and (max-width: 576px) {
  .positions__type-title {
    font-size: 18px;
    text-align: center;
  }
}

.positions__type-location {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}
@media screen and (max-width: 576px) {
  .positions__type-location {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .positions__info-link {
    width: 247px;
    text-align: center;
  }
}

.maps {
  padding-top: 100px;
}

.maps__image {
  max-width: 1110px;
  overflow: hidden;
}

.maps__image img {
  transition: all 0.8s ease;
  width: 100%;
}

.maps__image:hover img {
  transform: scale(1.06, 1.06);
  cursor: pointer;
}

.maps__countries {
  display: none;
}
@media screen and (max-width: 576px) {
  .maps__countries {
    display: block;
    margin-top: 50px;
    text-align: center;
  }
}

.maps__country {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  padding: 20px 100px;
  background: rgba(252, 183, 43, 0.15);
  letter-spacing: -1.07143px;
  color: #495567;
}

.info {
  padding: 100px;
}

.info__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .info__head {
    flex-direction: column;
    row-gap: 40px;
  }
}

.info__head-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #495567;
  max-width: 351px;
}
@media screen and (max-width: 768px) {
  .info__head-title {
    max-width: 457px;
    text-align: center;
    margin: 20px auto;
  }
}
@media screen and (max-width: 576px) {
  .info__head-title {
    font-size: 32px;
    max-width: 311px;
    line-height: 32px;
  }
}

.info__head-desc {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
  max-width: 445px;
}
@media screen and (max-width: 768px) {
  .info__head-desc {
    text-align: center;
    margin: 20px auto;
  }
}/*# sourceMappingURL=style.css.map */