// Foter section
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/


.footer {
    margin-top: convertToPx(100px);
    background: $h1-color;
    overflow: hidden;
    position: relative;
    padding: convertToPx(120px) convertToPx(0px);
}

.footer__info {
    @include flexItems();
    @include for-tablet-only {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 40px;
        text-align: center;
    }
}

.footer__info-title {
    max-width: convertToPx(415px);
    
    font: {
        weight: 700;
        size: convertToPx(48px);
    }

    line-height:convertToPx(48px);
    letter-spacing: convertToPx(-2.14286px);

    color: $main-color;
    @include transition-ease();
    @include for-phone-only {
        font-size: convertToPx(32px);
line-height: convertToPx(32px);
    }
}

.footer__info-title:hover{
    @include transform();
    cursor: pointer;
}

.footer__head-buttons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-column-gap: 18px;
       -moz-column-gap: 18px;
            column-gap: 18px;
}


.footer__button {
    background: $link-color;
    border-radius: convertToPx(4px);
    padding: convertToPx(9px) convertToPx(16px);
    @include flexItems();
    @include transition-ease();
}

.footer__button:hover{
    @include transform();
}

.footer__button-title {
    font: {
        weight: 700;
        size: convertToPx(10px);
    }

    line-height: convertToPx(15px);
    letter-spacing: convertToPx(-0.446429px);
    color: $h1-color;

}

.span {
    font: {
        weight: 700;
        size: convertToPx(20px);
    }

    line-height: convertToPx(24px);
    letter-spacing: convertToPx( -0.892857px);
    color: $h1-color;
    display:block;
}

.circle-1{
    position: absolute;
    bottom: -200px;
    left: 660px;
    display: inline-block;
    width: convertToPx(347px) ;
    height: convertToPx(347px) ;
    opacity: 0.1;
    border-radius: 50%;
    border: convertToPx(15px) solid $link-color;
    @include for-tablet-only{
        bottom: -200px;
        left: -150px;
    }

}

.circle-2{
    position: absolute;
    bottom: -200px;
    left: 1000px;
    display: inline-block;
    width: convertToPx(347px) ;
    height: convertToPx(347px) ;
    opacity: 0.1;
    border-radius: 50%;
    border: convertToPx(15px) solid $link-color;
    @include for-tablet-only{
        bottom: -200px;
        left: 200px;
    }
    @include for-phone-only{
      display: none;
      
    }


}
.circle-3{
    position: absolute;
    bottom: -200px;
   right: -200px;
    display: inline-block;
    width: convertToPx(347px) ;
    height: convertToPx(347px) ;
    opacity: 0.1;
    border-radius: 50%;
    background: $link-color;

}


.bottom{
    background-color:$bg-color;
   padding:convertToPx(32px) convertToPx(0px);
}


.bottom__head{
    @include flexItems();
    -webkit-column-gap: 58px;
       -moz-column-gap: 58px;
            column-gap: 58px;
    @include for-phone-only{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap: 41px;
    }
}

.bottom__navigation{
    width: 100%;
    @include flexItems();
    @include for-phone-only{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap:85px;
    }
}

.bottom__nav-items{
    @include flexItems();
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;
    @include for-phone-only{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        row-gap:16px;
    }
}


.bottom__nav-items .active .bottom__link{
    color:$button-bg-color;
}

.bottom__logo{
@include transition-ease();
}

.bottom__logo:hover{
    @include transform();
    }

 .bottom__link{
    font: {
weight:700;
size:convertToPx(15px);
    }
line-height:convertToPx(25px);
color: $header-color;
@include transition-ease();

 }   

 .bottom__link:hover{
color: $button-bg-color;
 }

.bottom__socials{
    @include flexItems();
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
}

 .bottom__social{
    color: $button-bg-color;
    @include transition-ease();
 }

.bottom__social:hover{
    color: $main-color;
    @include transform2();
 }
