/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.header__head {
    @include flexItems();
    -webkit-column-gap: 58px;
       -moz-column-gap: 58px;
            column-gap: 58px;
    padding: 22px;

    @include for-tablet2-only {
        -webkit-column-gap: 35px;
           -moz-column-gap: 35px;
                column-gap: 35px;
    }
}

.header__remove-btn {
    display: none;

    @include for-phone-only {
        display: block;
        position: absolute;
        top: 20px;
        left: 25px;
    }
}

.bar {
    color: $button-bg-color;
    display: none;

    @include for-phone-only {
        display: block;
    }
}



.header__checkbox {
    display: none;
}

.header__checkbox:checked~.header__navigation {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
}


.header__logo {

    @include for-phone-only {
        margin: 0 auto;
    }
}

.header__navigation {
    width: 100%;
    @include flexItems();

    @include for-phone-only {
        position: fixed;
        background-color: $bg-color;
        width: 256px;
        height: 100vh;
        left: 0;
        z-index: 10;
        top: 76.39px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        @include transition-ease();
        -webkit-transform: translateX(-200%);
            -ms-transform: translateX(-200%);
                transform: translateX(-200%);
    }
}




.header__nav-items {
    @include flexItems();
    -webkit-column-gap: 32px;
       -moz-column-gap: 32px;
            column-gap: 32px;

    @include for-tablet2-only {
        -webkit-column-gap: 15px;
           -moz-column-gap: 15px;
                column-gap: 15px;
    }

    @include for-phone-only {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        row-gap: 24px;
    }
}



.header__link {

    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    color: $header-color;
    @include transition-ease();
}



.header__link:hover {
    color:$button-bg-color;
}

.header__button {
    @include for-tablet2-only {
        padding: 10px 15px;
    }
}