// Info section

.info{
    padding: 100px;
}


.info__head{
@include flexItems();
@include for-tablet-only{
    flex-direction: column;
    row-gap: 40px;
}
}

.info__head-title{
    font-weight: 700;
font-size: 48px;
line-height: 48px;
letter-spacing: -2.14286px;
color: $h1-color;
max-width: 351px;
@include for-tablet-only {
    max-width: 457px;
    text-align: center;
   margin: 20px auto;
}
@include for-phone-only{
    font-size: 32px;
    max-width: 311px;
    line-height: 32px;
}
}

.info__head-desc{
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;    
    color: $header-color;
    max-width: 445px;
    @include for-tablet-only{
        text-align: center;
        margin: 20px auto;
    }
}

