@mixin flexItems {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin for-tablet-only {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin for-tablet2-only{
    @media screen and (max-width: 700px) {
        @content;
    }
}

@mixin for-phone-only {
    @media screen and (max-width:576px) {
        @content;
    }
}

@mixin transition-ease {
    transition: all 0.8s ease;
}

@mixin transform{
    transform: scale(1.06,1.06);
}

@mixin transform2{
    transform: rotate(360deg);
}