// Main section

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.main {
    background-image: url(./images/bg-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 153px 0 153px 165px;

    @include for-tablet-only {
        padding: 129px 98px 217px 98px;
    }

    @include for-phone-only {
        padding: 115px 32px 179px 32px;
    }
}

.main__head {
    max-width: convertToPx(500px);
    position: relative;

    @include for-tablet-only {
        max-width: convertToPx(573px);
        text-align: center;
    }
    @include for-phone-only {
        max-width: convertToPx(311px);
        margin: 0 auto;
    }
}

.main__head-title {
    font: {
        weight: 700;
        size: convertToPx(56px);
    }

    line-height: convertToPx(56px);
    letter-spacing:convertToPx(-2.5px);
    color: $main-color;
    @include transition-ease();
}

.main__head-title:hover {
    @include transform();
    cursor: pointer;
}


.main__head-desc {
    font: {
        weight: convertToPx(400px);
        size: convertToPx(15px);
    }

    line-height: convertToPx(25px);
    color: $main-color;
    margin-bottom: convertToPx(40px);
}


.main__path {
    width: convertToPx(446.38px);
    height: convertToPx(99.37px);
    position: absolute;
    right: convertToPx(288px);
    bottom: 10px;
    overflow: hidden;

    @include for-tablet-only {
        left: convertToPx(-150px);
        top: convertToPx(500px);
    }

    @include for-phone-only {
        left: convertToPx(-300px);
        top: convertToPx(700px);
    }
}

.main__path img {
    @include transition-ease;
}

.main__path:hover img {
    @include transform();
    cursor: pointer;
}

.main__path img {
    width: 100%;
    height: 100%;
}